.section1 {
  width: 100vw;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 45px;
  position: relative;
}

.hero-anchor {
  position: absolute;
  left: 0;
  top: 0;
}

.box-lite-title {
  width: 290px;
  height: 30px;
  margin: auto;
}

.box-section1-title {
  width: 290px;
  height: 60px;
  margin: auto;
  margin-bottom: 15px;
}

.box-paragraph {
  width: 290px;
  height: 120px;
  margin: auto;
}

.button {
  width: 290px;
  margin: auto;
  margin-top: 30px;
}

.section2 {
  width: 100vw;
  height: 624px;
  margin: auto;
  padding-top: 30px;
  background-color: $color-midtone;
}

.box-section2-title {
  width: 290px;
  height: 30px;
  text-align: center;
  margin: auto;
  margin-bottom: 45px;
}
