.section1 {
  width: 100vw;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 45px;
  position: relative;
}

@media all and (min-width: 768px) {
  .section1 {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}

.hero-anchor {
  position: absolute;
  left: 0;
  top: 0;
}

.box-lite-title {
  width: 290px;
  height: 30px;
  margin: auto;
}

@media all and (min-width: 768px) {
  .box-lite-title {
    width: 690px;
  }
}

.box-section1-title {
  width: 290px;
  height: 60px;
  margin: auto;
  margin-bottom: 15px;
}

@media all and (min-width: 768px) {
  .box-section1-title {
    width: 690px;
    height: 45px;
  }
}

.box-paragraph {
  width: 290px;
  height: 120px;
  margin: auto;
}

@media all and (min-width: 768px) {
  .box-paragraph {
    width: 690px;
    height: 60px;
  }
}

.button {
  width: 290px;
  margin: auto;
  margin-top: 30px;
}

@media all and (min-width: 768px) {
  .button {
    width: 690px;
  }
}

.section2 {
  width: 100vw;
  height: 624px;
  margin: auto;
  padding-top: 30px;
  background-color: $color-midtone;
}

.box-section2-title {
  width: 290px;
  height: 30px;
  text-align: center;
  margin: auto;
  margin-bottom: 45px;
}
