.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 93px 93px 93px;
  justify-content: center;
  grid-gap: 45px;
}

@media all and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 27px;
  }
}

.grid-item {
  max-width: 184px;
  height: 93px;
  justify-self: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media all and (min-width: 768px) {
  .grid-item {
    max-width: 210px;
  }
}

.box-item-title {
  width: 184px;
  height: 30px;
}

.box-grid-paragraph {
  width: 180px;
  height: 63px;
  padding-bottom: 45px;
}
