.arrow-down-button {
  width: 45px;
  height: 45px;
  top: 45px;
  background-color: $color-light;
  border-radius: 22.5px;
  margin: auto;
  position: relative;
}

.arrow-down {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.go-button {
  width: 76px;
  height: 45px;
  background-color: $color-light;
  border: 2px solid $color-button;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color ease 1s;
}

.go-button:hover {
  background-color: $color-button;
}

.go-text {
  font-family: $font-text;
  color: $color-button;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  transition: color ease 1s;
}

.go-text:hover {
  color: $color-light;
}

.more-button {
  width: 184px;
  height: 45px;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 45px;
  background-color: $color-button;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color ease 1s border ease 1s;
}

.more-button:hover {
  background-color: $color-light;
  border: 2px solid $color-button;
}

.more-text {
  font-family: $font-text;
  color: $color-light;
  font-weight: 500px;
  font-size: 20px;
  text-decoration: none;
  transition: color ease 1s;
}

.more-text:hover {
  color: $color-button;
}

.arrow-up-button {
  width: 45px;
  height: 45px;
  top: -25px;
  background-color: $color-light;
  border-radius: 22.5px;
  margin: auto;
  position: relative;
}

.arrow-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}
