.hero {
  width: 100vw;
  height: 100vh;
  background: url("/images/cover.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-content {
  max-width: 420px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: absolute;
  transform: translateY(55%);
}

@media all and (min-width: 768px) {
  .hero-content {
    max-width: 690px;
    padding-left: 39px;
    padding-right: 39px;
    transform: translateY(10%);
  }
}

.footer-anchor {
  position: absolute;
  left: 0;
  top: 0;
}
