/* COLORS *//* TYPOGRAPHY */* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

.header {
  height: 44px;
  width: 44px;
  position: fixed;
  background-color: #0271bc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.principal {
  width: 290px;
  margin: auto;
  padding-top: 45px;
  position: relative;
}

.hero-anchor {
  position: absolute;
  left: 0;
  top: -100px;
}

.box-lite-title {
  width: 90px;
  height: 30px;
}

.box-section-title {
  width: 290px;
  height: 60px;
  margin-bottom: 15px;
}

.box-paragraph {
  width: 290px;
  height: 120px;
  margin-bottom: 30px;
}

.arrow-button {
  width: 45px;
  height: 45px;
  top: 45px;
  background-color: #fff;
  border-radius: 22.5px;
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.go-button {
  width: 76px;
  height: 45px;
  background-color: #fff;
  border: 2px solid #f26002;
  border-radius: 22.5px;
  position: relative;
}

.go-text {
  font-family: "Roboto", sans-serif;
  color: #f26002;
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hero {
  width: 100vw;
  height: 100vh;
  background: url("/images/cover.jpg") no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-title {
  width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.title {
  font-family: "Roboto Slab", serif;
  color: #fff;
  font-size: 42px;
  line-height: 55px;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  padding-top: 10px;
}

.lite-title {
  font-family: "Roboto", sans-serif;
  color: #8ccbea;
  font-size: 14px;
  font-weight: normal;
}

.section-title {
  font-family: "Roboto Slab", serif;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  color: #4a4a4a;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-align: justify;
}

/*# sourceMappingURL=main.css.map */
