/* COLORS *//* TYPOGRAPHY */* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

body {
  width: 100vw;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

.header {
  height: 44px;
  width: 44px;
  position: fixed;
  z-index: 10;
  background-color: #0271bc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-gap: 30px;
}

.grid-item {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.box-item-title {
  height: 30px;
}

.box-grid-paragraph {
  height: 63px;
  padding-bottom: 45px;
}

.footer {
  background-color: #304268;
  height: 128px;
}

.footer-text-box {
  width: 128px;
  height: 60px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.heart {
  color: #f26002;
}

.section1 {
  padding: 45px 15px;
  position: relative;
}

.hero-anchor {
  position: absolute;
  left: 0;
  top: 0;
}

.box-lite-title {
  height: 30px;
  margin: auto;
}

.box-section1-title {
  height: 60px;
  margin: auto;
  margin-bottom: 15px;
}

.box-paragraph {
  height: 120px;
  margin: auto;
}

.section2 {
  height: 624px;
 /*margin: auto;*/
  padding-top: 30px;
  padding-bottom: 45px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #eff9ff;
}

.box-section2-title {
  height: 30px;
  text-align: center;
  margin: auto;
  margin-bottom: 45px;
}

.arrow-down-button {
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 22.5px;
  margin: auto;
  position: relative;
}

.arrow-down {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
  transform: translate(-50%, -30%);
}

.go-button {
  width: 76px;
  height: 45px;
  margin-top: 30px;
  padding-top: 5px;
  background-color: #fff;
  border: 2px solid #f26002;
  border-radius: 22.5px;
  display: block;
  -webkit-transition: background-color ease 1s;
  transition: background-color ease 1s;
}

.go-button:hover {
  background-color: #f26002;
}

.go-text {
  font-family: "Roboto", sans-serif;
  color: #f26002;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color ease 1s;
  transition: color ease 1s;
}

.go-text:hover {
  color: #fff;
}

.more-button {
  width: 184px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding-top: 5px;
  background-color: #f26002;
  border-radius: 22.5px;
  display: block;
  -webkit-transition: background-color ease 1s, border ease 1s;
  transition: background-color ease 1s, border ease 1s;
}

.more-button:hover {
  background-color: #fff;
  border: 2px solid #f26002;
}

.more-text {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 500px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color ease 1s;
  transition: color ease 1s;
}

.more-text:hover {
  color: #f26002;
}

.arrow-up-button {
  width: 45px;
  height: 45px;
  top: -25px;
  background-color: #fff;
  border-radius: 22.5px;
  margin: auto;
  position: relative;
}

.arrow-up {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("/images/cover.jpg") no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.hero-content {
  max-width: 420px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  position: absolute;
}

.footer-anchor {
  position: absolute;
  left: 0;
  top: 0;
}

.title {
  font-family: "Roboto Slab", serif;
  color: #fff;
  font-size: 42px;
  line-height: 55px;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 45px;
}

.lite-title {
  color: #8ccbea;
  font-size: 14px;
  font-weight: 400;
}

.section-title {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 700;
}

.paragraph {
  color: #4a4a4a;
  font-weight: 400;
  text-align: justify;
}

.item-title {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

.grid-paragraph {
  font-weight: 400;
}

.footer-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

@media all and (min-width: 768px) {
  body {
    font-size: 20px;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 27px;
  }

  .box-item-title {
    margin-bottom: 14px;
  }

  .section1 {
    padding: 30px 39px 60px;
  }

  .box-section1-title {
    height: 45px;
  }

  .box-paragraph {
    height: 60px;
  }

  .section2 {
    max-height: 360px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .go-button {
    width: 91px;
  }

  .more-button {
    width: 210px;
  }

  .hero {
    max-height: 768px;
  }

  .hero-content {
    max-width: 690px;
    padding-left: 39px;
    padding-right: 39px;
  }

  .title {
    font-size: 80px;
    line-height: 106px;
  }

  .subtitle {
    font-size: 24px;
  }

  .section-title {
    font-size: 26px;
    line-height: 45px;
  }
}

@media all and (min-width: 1280px) {
  .section1 {
    max-width: 730px;
  }

  .go-button {
    width: 160px;
  }

  .more-button {
    width: 255px;
  }

  .hero-content {
    max-width: 730px;
  }

  .title {
    font-size: 100px;
    line-height: 132px;
  }

  .section-title {
    font-size: 32px;
  }
}

/*# sourceMappingURL=main.css.map */
